div#root {
  position: fixed;
  top: 55px;
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

div.main-container {
  display: grid;
  grid-template-columns: 65px 65px 65px 65px;
  grid-column-gap: 20px;
}

div.weather-container {
  position: relative;
  grid-column-end: span 2;
  height: 150px;
  background: #fff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 10px;
}

div.weather-container img {
  z-index: 2;
  width: 70px;
}

div.weather-container img.shadow {
  z-index: 1;
  filter: blur(10px);
  opacity: 60%;
  position: absolute;
  top: 25px;
  left: 15px;
}

div.weather-container p.weather {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 0;
}

div.weather-container a.weather-more {
  margin-top: 5px;
  font-size: 10px;
  color: #797979;
  text-decoration: underline;
}


div.risk-container {
  position: relative;
  grid-column-end: 2 span;
  height: 150px;
  background: #fff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 10px;
}

div.risk-container p {
  line-height: 20px;
  font-size: 15px;
  font-weight: 700;
  margin: 0;
}

div.risk-container p.risk-small {
  line-height: 10px;
  margin-bottom: 5px;
  font-size: 10px;
  font-weight: 500;
  color: #797979;
}

div.risk-container span.color1{
  color: #09ba06;
}

div.risk-container span.color2{
  color: #114bca;
}

div.risk-container span.color3{
  color: #eda703;
}

div.risk-container span.color4{
  color: #ed7c03;
}

div.risk-container span.color5{
  color: #ed0303;
}

div.accident-container {
  margin-top: 20px;
  grid-column-end: span 4;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 15px;
}

div.accident-container div.accident-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
}

div.accident-container div.accident-title p{
  position: relative;
  top: 1px;
  margin-left: 8px;
  font-size: 20px;
  font-weight: 700;
}

div.accident-container p.accident-ment {
  font-size: 12px;
  color: #797979;
  margin: 0;
}

div.accident-container div.accident-wrap {
  margin-top: 5px;
  margin-bottom: 10px;
}

div.accident-container div.accident-wrap p.accident-item {
  font-size: 12px;
  margin: 10px 0;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

/*loading*/

div.loading {
  background-color: #efefef;
  box-shadow: none;
}

div.weather-container.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.risk-container.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Spinner*/

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #dedede;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}